@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="homepageTitle">
        <p>The Solar System is the gravitationally bound system of the Sun and the objects that orbit it.</p>
        <p>The Solar System was formed 4.6 billion years ago from the gravitational collapse of a giant interstellar molecular cloud.</p>
    </section>

    <div class="row img">
        <img src="~/Content/images/Solar_System.jpg"/>
    </div>
</main>